<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Morse Code Translator{% endblock %}</title> {# Title can be overridden by child templates #}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <main class="container">
        {% include 'nav-bar.html' %}
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>